body {
  background: #e9eef0;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(78, 75, 75);
}
.card-title {
  font-size: 18px;
  font-weight: 400;
  color: rgb(93, 89, 89);
}
.card-text {
  font-size: 18px;
  color: #5c6167;
}
.fa-solid {
  color: #5982c1;
}

.btn {
  background: #5982c1;
  border-color: #5982c1;
}
.button-location {
  color: white;
  background: #5982c1;
  border-color: #5982c1;
  transition: all 300ms ease-in-out;
}
.city {
  font-size: 30px;
  font-weight: 400;
  color: #5c6167;
  margin-top: 30px;
}

.time {
  font-size: 20px;
  font-weight: 400;
  color: #5c6167;
}

.currentTemperature {
  font-size: 75px;
  color: rgb(78, 75, 75);
}

.units {
  position: relative;
  top: -35px;
  font-size: 22px;
}

.currentIcon {
  font-size: 65px;
  color: rgb(89, 130, 193);
}
.currentFactors {
  font-size: 18px;
  color: rgb(78, 75, 75);
  padding-top: 2rem;
}
ul {
  list-style: none;
}
.container {
  margin-top: 60px;
}
.block {
  padding-top: 30px;
}

.appWeather {
  width: 70%;
}

.card-body {
  background: #c8e4f0;
}
.next {
  background: white;
  border-radius: 10px;
  padding: 6px;
  transition: 700ms;
}
.next:hover {
  transform: scale(1.2);
}
.button-location:hover {
  background-color: #0e5ed8;
  color: white;
  border-color: #5982c1;
}
