body {
  background: #e8ecee;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: #4e4b4b;
}

.card-title {
  font-size: 18px;
  font-weight: 400;
  color: #5d5959;
}
.card-text {
  font-size: 18px;
  color: #5c6167;
}
.next-icons {
  color: #5982c1;
  font-size: 25px;
}

.btn {
  background: #5982c1;
  border-color: #5982c1;
}
.button-location {
  color: white;
  background: #5982c1;
  border-color: #5982c1;
  transition: all 300ms ease-in-out;
}
.city {
  font-size: 30px;
  font-weight: 400;
  color: #5c6167;
  margin-top: 30px;
}

.time {
  font-size: 20px;
  font-weight: 400;
  color: #5c6167;
}

.currentTemperature {
  font-size: 80px;
  color: #5c6167;
}

.units {
  position: relative;
  top: -40px;
  font-size: 20px;
}

.currentIcon {
  font-size: 65px;
  color: #5982c1;
  padding-top: 25px;
  padding-left: 25px;
}
.currentFactors {
  font-size: 18px;
  color: #4e4b4b;
  padding-top: 20px;
}
.container {
  margin-top: 60px;
}

.appWeather {
  width: 65%;
  background: #d2e7f0;
  padding-top: 30px;
  margin: 0 auto;
}

.next {
  background: white;
  border-radius: 10px;
  padding: 6px;
  transition: 700ms;
}
.footer {
  font-size: 14px;
  color: #5982c1;
}

.next:hover {
  transform: scale(1.2);
}
.button-location:hover {
  background-color: #0e5ed8;
  color: white;
  border-color: #5982c1;
}
